body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    background: #fff;
    padding: 15px 0;
}

a{
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    width: 98%;
}

.row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col {
    padding-right: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.col-30 {
    width: 30%;
}

.col-80 {
    width: 80%;
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: 33.33%;
}

.col-40 {
    width: 40%;
}

.header-left {
    width: 20%;
    display: flex;
    justify-content: end;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    padding-right: 30px;
}

.header-icon i {
    font-size: 30px;
}

.search-bar {
    width: 70%;
    display: flex;
    position: relative;
}

.search-bar input {
    padding: 15px 10px;
    width: 88%;
    border: 1px solid #beb6b6;
    border-radius: 30px 0 0 30px;
}

.btn {
    border: 1px solid #beb6b6;
    padding: 12px 25px;
    border-radius: 0 30px 30px 0;
    background-color:#f2f2f2 ;
}

.btn:hover {
    background-color:#e5e5e5 ;  
}

.action-btns {
    display: flex;
    gap: 10px;
    padding: 7px 0;
    white-space: nowrap;
    flex-wrap: wrap;
}

.search-icon {
    position: absolute;
    right: -2px;
}

.btn i {
    font-size: 20px;
    color: black;
}

.btn-2 {
    width: 40px;
    height: 40px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f2f2f2 ;
}

.btn-2:hover {
    background-color:#e5e5e5 ;
    
}

.btn-2 i {
    color: #000;
}

.btn-2 img {
    border-radius: 36px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.channel-name {
    font-size: 20px;
    font-weight: 600;
}

.channel-desc {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-3 {
    border: 1px solid #000;
    padding: 11px 20px;
    border-radius: 25px;
    color: #fff;
    background: #000;
}

.top-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.like-dislike-btn {
    display: flex;
    border-radius: 27px;
    overflow: hidden;
}

.like-icon i {
    padding-right: 10px;
}

.dislike-icon {
    padding-left: 10px;
}

.share-btn {
    padding: 7px 16px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.share-btn i {
    padding-right: 10px;
}

.share-btn:hover {
    background:#e5e5e5;
}

.p {
    padding: 7px 16px;
}

.like-btn {
    background-color: #f2f2f2;
    display: flex;

}

.like-btn:hover {
    background-color: #e5e5e5;
}

.dislike-btn:hover {
    background-color: #e5e5e5;
}

.dislike-btn {
    background-color: #f2f2f2;
    display: flex;
}

.action-btn {
    padding: 6px 17px;
    border-radius: 12px;
    background-color:#f2f2f2 ;
}

.action-btn:hover {
    background-color: #e5e5e5;
}

.card-img img {
    width: 400px;
    border-radius: 5px;
}

.card-v2 {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.channel {
    padding-top: 6px;
}

.channel a {
    color: gray;
}

.view {
    padding-top: 3px;
}

.view a {
    color: gray;
}

.mobile-header-left {
    width: 50%;
}

.mobile-header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    gap: 5px;
}

.mobile-header {
    display: none;
}

.display-none {
    display: none;
}


@media (max-width:1024px) {
    /* Tablet Width */
    .tablet-col-100 { width:100%;}
    .tablet-col-50 { width: 50%;}
    .tablet-col-33 { width: 33.33%;}

    .tablet-display-none { display: none;}
    .tablet-display { display: block;}

    .tablet-card-v { 
        display: flex;
        flex-direction: column;
    }

    .pt-10 { padding-top: 10px;}
    
}

@media (max-width:768px) {
    /* Mobile Width */
    .mobile-col-100 { width:100%;}
    .mobile-col-50 { width: 50%;}

    .mobile-display-none { display: none;}
    .mobile-display { display: block;}

    .mobile-pr-10 { padding-right: 10px;}

    .mobile-row {
        display: flex;
        flex-direction: column;
    }
}